*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;;

}

.upper-container{
	position:relative;
	width: 50%;
	height: 50%;
	margin: 50px auto ;
	margin-top: 160px;
	position: relative;
align-content: center;

}
.upper-container1{
	height: 30%;
	width: 100%;
	text-align: center;
}
.upper-container2{
	height: 10%;
	width: 54%;
   text-align: center;
   position: absolute;
   padding-top: 25px;
   top: 15%;
   background-color: rd;

}


.line{
	position: absolute;
margin-top: 70px;
background-color: re;
color: whi;
height: 30%;
width: 85%;
padding-top: 90px;

}
.trip{
	text-align: center;
	font-size: 60px;


}
.back{
	position: absolute;
	margin-left: 200px;
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	color: gray;
}
.maincard{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: column;
	height: 400px;
	align-content: center;
    padding-top: 180px;
	padding-left: 200px;
	background-color: bue;
	height: 80%;

}
.card{
	width: 430px;
	margin: auto;
	margin-right: 200px;
	margin-top: 0px;
	
	border-radius: 10px;
	height: 430px;
	padding-bottom: 80px;
	box-shadow: 10px 10px 10px lightgray;
	background-color: yello;
	position: relative;
}
.div1{
	position: absolute;
	top: 45px;
	right: 0px;
	text-align: left;
	font-size: 28px;
	width: 70%;
	height: 11%;
	color: red;
	font-weight: 100;
	border-bottom: 1px solid black;

}
.div2{
	position: absolute;
	width: 95%;
	height: 15%;
	top: 32%;
	font-size: 25px;
	text-align: center;
	text-decoration: line-through;
	color: red;
	font-weight:500 ;
	padding-left: 17px;
}
.div3{

	font-size: 0px;

}
#check{
	width: 20px;
	height: 20px;
	margin-left: 10px;

}
.plus{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 15px;
}
.arr{
	position: absolute;
	padding-left: 400px;
	padding-bottom: 200px;
}
.hov{
	position: relative;
	height: 40px;
	width: 25px;
	background-color: lightgray;
	border-radius: 6px;
	border: 0px;
	cursor: pointer;
}


.but{
	position: relative;
	padding-top: 45px;
	padding-left: 100px;
	text-align: center;
}

.hov:hover{
	background-color: silver;


}
.blur{

	filter: blur(8px);

}
.pop{
	border: 1px solid red;
	border-radius: 8px;
	position: absolute;
	margin: auto;
	width: 33.5%;
	height:30% ;
	left: 32%;
	top: 36%;
	background-color: white;
	box-shadow: 10px 10px 10px lightgray;
}
.addnew{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 27px;
	color: red;
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}
.newdiv{
	border: 1px solid red;
	border-radius: 5px;
	position: relative;
	margin: auto;
	height: 42px;
	width: 75%;
	

}
.ad{
	border: 0px;
	position: relative;
	border-radius: 20px;
	background-color: orangered;
	color: white;
	padding:6px;
	margin-top: 20px;
	height: 45px;
	width: 100px;
	font-size: 25px;
}
.box{
	position: absolute;
	border: 0.4px solid darkgray;
	width: 72%;
	height:78% ;
	left: 15%;
	top: 8%;
}
